{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center">Bonjour (depuis twig)</h1>
    <main style="width: 100%; height: auto; ">
        <section style="display: flex; flex-direction: row; ">
            <p style="width: 50%; height: auto; background: lightgrey; padding: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi culpa dolor dolorem eaque,
                esse est fuga fugit inventore nesciunt odio officiis, optio praesentium quisquam sed sit totam vel voluptatibus.
            </p>
            <p style="width: 50%; height: auto; background: lightgrey; padding: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi culpa dolor dolorem eaque,
                esse est fuga fugit inventore nesciunt odio officiis, optio praesentium quisquam sed sit totam vel voluptatibus.
            </p>
        </section>
    </main>
{% endblock %}
