{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>email</th>
            <th>roles</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles | join(', ') }}</td>
                <td>
                    <a href="{{ path('admin_user_changerole', {id: user.id}) }}" class="btn btn-warning">Modifier le role</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
